blinker==1.7.0
click==8.1.7
contactapp==1.0 /home/keshawnstrong/Desktop/git/church-contact/contactapp
Flask==3.0.0
Flask-Mail==0.9.1
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
packaging==23.2
pip==22.3.1
pluggy==1.3.0
pytest==7.4.3
setuptools==65.5.1
Werkzeug==3.0.1
